.actions {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.actions select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 220px;
}

table {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  background: #f2f2f2;
}

tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}

textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* MOBILE */
@media (max-width: 768px) {
  th, td {
    font-size: 0.85rem;
  }
}
