.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.filters select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.report-preview {
  background: var(--white);
  border-radius: 16px;
  padding: 25px;
}

.preview-box {
  height: 250px;
  background: #f2f2f2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .preview-box {
    height: 180px;
  }
}
